APP_DEBUG=true
APP_APP_NAME=Inventory Service
APP_LOG_LEVEL=DEBUG

APP_DATABASE__HOST=db.example.com
APP_DATABASE__PORT=5432
APP_DATABASE__USER=admin
APP_DATABASE__PASSWORD=super-secret
APP_DATABASE__DATABASE=inventory
